@page "/"
@using Lucia.Models.Models
@using Lucia.Server.Client.Components
@using Microsoft.AspNetCore.SignalR.Client

<PageTitle>セッション監視 | Lucia </PageTitle>
<div class="content-container">
    <SectionCard Title="電源管理">
        <PowerContent />
    </SectionCard>
    <SectionCard Title="セッション管理">
        <SessionContent />
    </SectionCard>
</div>
