<section class="content-card">
    <header>
        <h1 class="card-title">@Title</h1>
    </header>
    <div class="card-content">
        @ChildContent
    </div>
</section>

@code {

    [Parameter, EditorRequired]
    public string Title { get; set; } = "";

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

}